/* Membuat elemen pembungkus objek */
.wrapper-1 {
  width: 350px;
  height: 350px;
  border: 10px solid black;
  /* Membuat Objek */
}

.wrapper-1:hover .green {
  -webkit-animation-name: green;
          animation-name: green;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes green {
  0% {
    left: 0;
  }
  100% {
    left: 100px;
  }
}

@keyframes green {
  0% {
    left: 0;
  }
  100% {
    left: 100px;
  }
}

.wrapper-1 .red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.wrapper-1 .green {
  /* Objek green berada 1 dimensi diatas objek static. */
  /* Ketika objek diberikan nilai relative, ruang yang ditempati oleh objek tesebut masih ada*/
  /* Ketika objek digerakan, maka akan relatif terhadap posisi awalnya. */
  position: relative;
  width: 100px;
  height: 100px;
  background-color: green;
}

.wrapper-1 .blue {
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* Objek kuning dan border pembungkus berada di 1 dimensi yang sama */
/* Membuat elemen pembungkus objek */
.wrapper-2 {
  /* Memberikan nilai relative agar pembungkus naik 1 dimensi, jadi berada di dimensi yang sama dengan objek kuning */
  /* Objek kuning jadi dapat digerakan tanpa keluar dari pembungkus*/
  /* Jika relativenya dihapus, maka objek akan keluar dari pembungkusnya mengikuti parent objek yang diberikan nilai absolute */
  position: relative;
  width: 350px;
  height: 350px;
  border: 10px solid black;
  /* Membuat Objek */
}

.wrapper-2:hover .hijau {
  -webkit-animation-name: hijau;
          animation-name: hijau;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes hijau {
  0% {
    position: absolute;
    left: 0;
  }
  100% {
    position: absolute;
    left: 100px;
  }
}

@keyframes hijau {
  0% {
    position: absolute;
    left: 0;
  }
  100% {
    position: absolute;
    left: 100px;
  }
}

.wrapper-2 .merah {
  width: 100px;
  height: 100px;
  background-color: red;
}

.wrapper-2 .kuning {
  /* Ketika objek diberikan nilai absolute, ruang yang ditempati oleh objek tesebut dianggap tidak ada*/
  /* Ketika objek digerakan, maka akan relatif terhadap posisi dari elemen parentnya yaitu WINDOW. */
  /* Objek jadi dapat menggunakan property top, right, bottom, dan left */
  /* Ketika nilai absolutenya dihapus, maka objek akan menjadi static */
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.wrapper-2 .hijau {
  /* Ketika objek diberikan nilai absolute, ruang yang ditempati oleh objek tesebut dianggap tidak ada*/
  /* Ketika objek digerakan, maka akan relatif terhadap posisi dari elemen parentnya yaitu WINDOW. */
  width: 100px;
  height: 100px;
  background-color: green;
}

.wrapper-2 .biru {
  width: 100px;
  height: 100px;
  background-color: blue;
}
/*# sourceMappingURL=style.css.map */